@import url('style.css');

.body-dashboard{
    background-color: #0596DE;
}

.header{
    display: flex;
    align-items:start;
    justify-content: space-between;
    margin: 1.5rem;
}

.header h1{
    flex-basis: 95%;
    text-align: center;
    color: #EEF2F6;
    font-family: var(--font-titles);
    font-size: 24px;
    font-weight: 500;
}

#connect{
    color: white;
    font-size: 20px;
    flex-basis: 5%;
    text-align: center;
    margin-right: .7rem;
}

#connect i {
    width: 100%;
}

.drug_cards{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
}

.reminder{
    color: white;
    border-radius: .3rem .3rem 0 0;
    background-color: #435f71;
    width: auto;
    height: 2rem;
}
.reminder p{
    padding-top: .4rem;
    margin-left: 1rem;
}
.drug{
    width: 350px;
    height: 190px;

}

.drug-header{
    font-family: Roboto;
    color: #435f71;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-top: 1.5rem;
    /*! margin-right: 13rem; */
}

.drug-header h2 {
    margin:0;
}

.description {
    height: 4rem;
    margin-left: 1rem;
}

#button{
    color: #0596DE;
    background: white;
    border-radius: 0 0 0 .3rem;
    font-size: .9rem;
}

#button2{
    color: #0596DE;
    background: white;
    border-radius: 0 0 .3rem 0;
    font-size: .9rem;
}

.ui.card {
    box-shadow: none;
    margin-bottom: 3rem;
}
.reminder{
    color: white;
    border-radius: .3rem .3rem 0 0;
    background-color: #435f71;
    width: auto;
    height: 2rem;
}
.reminder p{
    padding-top: .4rem;
    margin-left: 1rem;
}
.drug{
    width: 350px;
    height: 190px;
}

.description{
    height: 4rem;
    margin-left: 1rem;
}

#button{
    color: #0596DE;
    background: white;
    border-radius: 0 0 0 .3rem;
}

#button2{
    color: #0596DE;
    background: white;
    border-radius: 0 0 .3rem 0;
}