@import url('style.css');

.medicament-header {
    background-color: var(--color-main-blue);
    display: flex;
    color: white;
    align-items: center;
    height: 3.7rem;
    justify-content: center;
}

.medicament-header h2 {
    font-family: var(--font-titles);
    flex-basis: 90%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
}

.medicament-header a {
    color: white;
    text-decoration: none;
    font-size: 1.4rem
}
.medicament-main {
    padding: 2rem 0.5rem 2rem 1.5rem;

}

.medicament-main p {
    font-family: var(--font-text);
    color: var(--color-dark-blue);
    font-size: 1.1rem;
}

.start-hour {
    width: 90%;
    margin-bottom: 2rem;
}

.start-hour form {
    margin-top: 0.4rem;
    display: flex;
    justify-content: space-around;
}

.start-hour form input{
    width: 5rem;
    background: transparent;
    border: none;
    font-size: 1.3rem;
    font-family: var(--font-titles);
}

.start-hour form button {
    background-color: var(--color-light-blue);
    border: none;
    border-radius: 5px;
    padding: 0.4rem 0.7rem;
    color: var(--color-dark-blue);
    font-weight: 500;
    font-size: 1.2rem;
}
.suivi {
    margin-top: 4rem;
}

.suivi h3, .suivi h4{
    font-family: var(--font-titles);
    color: var(--color-dark-blue);
}

.labels {
    display: flex;
    margin: 1rem 0;
}


.labels div {
    display: flex;
    align-items: center;
    margin-right: 0.8rem;
}


.circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}
.circle-orange {
    background-color: orange;
}

.circle-green {
    background-color: green;
}

.circle-red {
    background-color: red;
}

.suivi h3 {
    font-size: 1.5rem;
}

.suivi h4 {
    margin:2rem 0;
    font-size: 1.3rem;
    font-weight: 400;

}
.tags-suivi {
    margin-top: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.tags-suivi .tag {
    display: flex;
    align-items: center;
    background-color: var(--color-light-blue);
    padding: 0.2rem 0.7rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

.tag:hover {
    cursor: pointer;
}

.tag p {
    padding-right: 0.3rem;
}

.medicament-main .text-little {
    text-align: center;
    color: var(--color-main-blue);
    margin-top: 1rem;
}


@media only screen and (min-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .medicament-header{
        width: 100%;
    }

    .medicament-main {
        background-color: var(--color-light-gray);
        width: 60%;
        justify-content: center;
        margin-top: 4rem;
        border-radius: 20px;
    }

    .start-hour {
        width: 40%;
    }
    .suivi {
        width: 56%;
    }
}