@import url('style.css');

header {
    background-color: #0596DE;
    display: flex;
    align-items: center;
    height: 8vh;
}
h1 {
    color: white;
    margin-left: 1rem;
}
body {
    background-color: #EEF2F6;
    font-family: "Roboto", arial, sans-serif;
}
.formOrdonnanceBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
}
.formOrdonnance {
    background-color: white;
    width: 90%;
    border-radius: 20px;
    margin-bottom: 6rem;
}
.formOrdonnance h2 {
    padding: 3rem;
    font-family: "Montserrat", arial, sans-serif;
}

.part1Form {
    display: flex;
    justify-content: space-around;
}
.input1 {
    width: 15%;
}
.drug {
    width: 15%;
    border: 2px #EEF2F6 solid;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.input2, .input3, .input4 {
    width: 10%;
}
.takenDay, .days, .inter {
    width: 10%;
    border: 2px #EEF2F6 solid;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
p {
    color: grey;
}
textarea {
    width: 40%;
}
.comment {
    width: 40%;
    border: 2px #EEF2F6 solid;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.part2Button {
    display: flex;
    justify-content: flex-end;
}
.part2Button input {
    margin-top: 6rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    width: 12rem;
    height: 2.5rem;
    background-color: #0596DE;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    border: 2px solid #0596DE;
}
.part1Form input, textarea {
    border-radius: 5px;
    height: 2.4rem;
    border: 2px solid #EEF2F6;
}
.part1Form input:hover {
    border-color: #0596DE;
}
textarea:hover {
    border-color: #0596DE;
}
.ajout input {
    margin-top: 2rem;
    margin-left: 1rem;
    width: 14rem;
    height: 2.5rem;
    background-color: #0596DE;
    color: white;
    border-radius: 10px;
    font-size: 1rem;
    border-color: transparent;
}
.prescription {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}
@media only screen and (max-width: 768px) {
    .part1Form {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .input1 {
        width: 10rem;
        margin-bottom: 1rem;
    }
    .input4, .input2, .input3 {
        width: 5rem;
        margin-bottom: 1rem;
    }
    textarea {
        width: 15rem;
        margin-bottom: 1rem;
    }
}