@import url('style.css');

body{
    background-color: var(--color-light-gray);
}

header {
    background-color: var(--color-main-blue);
    display: flex;
    color: white;
    align-items: center;
    height: 4rem;
    justify-content: start;
}

header h1{
    color: white;
    font-family: var(--font-titles);
    font-size: 24px;
    margin-left: 1.5rem;
    font-weight: 500;
}

.main-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.main-user div {
    background: white;
    width: 12rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 15px;
    margin-bottom: 2rem;
}
.main-user div a {
    text-decoration: none;
    color: var(--color-dark-blue);
}
.main-user div h2 {
    font-family: var(--font-titles);
    font-weight: 500;
}

header a {
    text-decoration: none;
}