<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard Patient</title>
    <th:block th:include="fragments/head.html :: head"> </th:block>
    <link rel="stylesheet" th:href="@{/dashboard_patient.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
</head>
<body class="body-dashboard">
<header class="header">
    <h1>LibreDoctor</h1>
    <a id="connect"><i class="fas fa-user"></i></a>
</header>
<div class="drug_cards" th:each="prescription : ${prescriptions}">
    <div class="ui card drug" >
    <div class="card">
        <div class="content content">
            <div class="reminder"><p><i class="fas fa-clock"></i> 9:00</p></div>
            <div class="header drug-header" id="drug-header" th:text="${prescription.drug}">Dafalgan </div>
            <div class="ui divider"></div>
            <div class="description" th:text="${prescription.comment}">Commentaires</div>
            <div class="ui two buttons buttons">
                <button class="ui bottom attached button" id="button">PRIS A L'HEURE</button>
                <button class="ui bottom attached button" id="button2">PRIS EN RETARD</button>
            </div>
        </div>
    </div>
    </div>
</body>
</html>