<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head class="header">
    <meta charset="UTF-8">
    <title>Dashboard Doctor</title>
    <th:block th:include="fragments/head.html :: head"> </th:block>
    <link rel="stylesheet" th:href="@{/dashboard_doctor.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
</head>
<body class="body-dashboard-doctor">
<header class="header">
    <div class="grid-container">
        <div class="doctorlibre">LibreDoctor</div>
        <div class="patientlist">Liste de suivi des patients</div>
    </div>
</header>

<div class="section1">
<div class="grid-container">
    <div class="followup">
        <button class="ui primary button">Ordonnance avec suivis</button>
    </div>
    <div class="ordonnance">
        <button class="ui blue basic button" id="button-ordonnance">Ordonnance</button>
    </div>
    <div class="information-cards">
        <div class="drug_cards">
        <div class="ui card name" >
            <div class="card">
                <div class="content content">
                    <div class="reminder"><p>Dupond Dupont</p></div>
                    <p class="description">
                            <div class="phone">
                                <p>0760809087</p>
                                <p>15/07/1991</p>
                            </div>
                            <p>N°SS: 0909909999</p>
                            <p>9 rue des développeurs, 44000 Nantes</p>
                    </div>
                </div>
            </div>
        </div></div>
</div>
</div>
<table class="ui five column table" id="table">
    <thead>
    <tr><th colspan="5">Suivi du traitement :</th>
    </tr></thead>
    <tbody>
    <tr>
        <td>Dafalgan</td>
        <td><i class="circle green icon"></i>5/12</td>
        <td><i class="circle orange icon"></i>4/12</td>
        <td><i class="circle red icon"></i>6/12</td>
        <td>Reste à prendre: 20</td>
    </tr>
    <tr>
        <td>Doliprane</td>
        <td><i class="circle green icon"></i>5/12</td>
        <td><i class="circle orange icon"></i>4/12</td>
        <td><i class="circle red icon"></i>6/12</td>
        <td>Reste à prendre: 20</td>
    </tr>
    <tr>
        <td>Smecta</td>
        <td><i class="circle green icon"></i>5/12</td>
        <td><i class="circle orange icon"></i>4/12</td>
        <td><i class="circle red icon"></i>6/12</td>
        <td>Reste à prendre: 12</td>
    </tr>
    </tbody>
</table>
</body>
</html>